<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="UTF-8">
<title>Countries list</title>
</head>
<body>
	<table>
		<tr>ID&emsp;NAME&emsp;&emsp;CAPITAL&emsp;&emsp;POPULATION</tr>
		<tr>
			<td th:text = "${country.id}">ID</td>
			<td th:text = "${country.name}">Name</td>
			<td th:text = "${country.capital}">Capital</td>
			<td th:text = "${country.population}">Population</td>
			&emsp;&emsp;
			<td><a th:href="@{/delete/{id}(id=${country.id})}">Delete</a></td>
			&emsp;&emsp;
			<td><a th:href="@{/edit/{id}(id=${country.id})}">Edit</a></td>
		</tr>
	</table>
	<br>
</body>
</html>